<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Servidor_Banco" value="localhost" />
    <add key="Nome_Banco" value="bd_AlergiaAlimentar" />
    <add key="Usuario_Banco" value="postgres" />
    <add key="Senha_Banco" value="postgres" />
  </appSettings>
</configuration>